<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="elementWaitTimeout" value="60000" />
    
    <add key="xMultiMgr" value="false" />
    
    <!-- Posible values: DoNotHandle; HandleAndContinue; HandleAndFailTest;-->
    <add key="unexpectedDialogAction" value="HandleAndFailTest" />
    
    <add key="createLogFile" value="false" />
    
    <add key="waitCheckInterval" value="500" />
    
    <add key="logAnnotations" value="false" />

    <!-- Posible values: All; CustomOnly; NativeOnly;-->
    <add key="annotationMode" value="All" />
    
    <add key="annotateExecution" value="false" />
    
    <add key="executionDelay" value="100" />
    
    <add key="queryEventLogErrorsOnExit" value="false" />
    
    <add key="clientReadyTimeout" value="90000" />
    
    <add key="executionTimeout" value="30000" />
    
    <add key="username" value="telerikacademy.demo@gmail.com" />
    
    <add key="password" value="telerikdemo" />
  </appSettings>
</configuration>